@charset "utf-8";

html, body, #wrapper {
  height: 100%;
}

body {
	background: #5e5e5e;
	font-family: "Trebuchet";
	font-size: 12px;
	color: #000;
	margin: 0;
	text-align: center;
}

h1 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: normal;
	color: #000;
  margin-bottom: 13px;
}

h2 {
	font-size: 15px;
	font-weight: bold;
  margin-bottom: 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ececec;
}

h2.importance {
	padding: 0;
	border: none;
	text-align: center;
}

h2.importance b {
	color: #5db11a;
}

p {
  margin-bottom: 13px;
}

a {
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

small {
	color: #5db11a;
}

table {
	border: 1px solid #ececec;
	border-collapse: separate;
	width: 100%;
}

table tbody tr:nth-of-type(odd) {
	background-color: #ececec;
} 

table th, table td {
	padding: 5px;
}

table th {
	vertical-align: top;
}

fieldset {
	border: 0;
	padding: 1em;
}

legend {
	font-size: 15px;
	font-weight: bold;
}

label {
	margin-right: 0.5em;
	padding-top: 0.2em;
	font-weight: bold;
}

#wrapper {
	position: relative;
	background : #fff;
	width: 901px;
  height: auto;
  min-height: 100%;
	text-align: left;
	margin-left: auto;
  margin-right: auto;
}

#main {
	position: relative;
	padding-bottom: 73px;
}

#header {
  position: relative;
	padding-top: 5px;
  margin-bottom: 62px;
}

#header span {
  display: block;
	text-align: right;
	padding-right: 42px;
	font-size: 15px;
}

#menu {
	margin-left: 42px;
	width: 132px;
  list-style: none;
}

#menu ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

#menu a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	border-left: 2px solid #CCCCCC;
	padding-left: 3px;
}

#menu a:hover, #menu a.active {
	color: #000;
	text-decoration: none;
	border-left: 2px solid #5DB11A;
}

#menu li {
	margin-top: 9px;
}

#content {
  margin-left: 205px;
  margin-right: 42px;
  padding-bottom: 84px;
	font-size: 13px;
}

#content a {
	text-transform: none;
}

#content a img {
	border: 0;
}

#footer {
  position: absolute;
  bottom: 42px;
  right: 42px;
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden {
	display: none;
}

.sublabel {
	margin-right: 0.5em;
	padding-top: 0.2em;
	font-weight: bold;
}

.flash {
	background: #ececec;
	border: 1px solid #ccc;
	width: 100%;
  margin: 1em 0;
	padding: 0.2em;
	text-align: center;
}

.separator {
	height: 15px;
}

.separator2 {
	margin-left: 25%;
	width: 50%;
	height: 1px;
	line-height: 1px;
	background-color: #5db11a;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

ul.items {
	margin-top: 50px;
	font-weight: bold;
  list-style: none;
}

ul.items, ul.items a {
	color: #fff;
}

ul.items li {
	float: right;
  margin-left: 15px;
	background: #7f7f7f;
	border: 1px solid #666666;
	padding: 10px 44px;
  height: 32px;
  vertical-align: middle;
}

ul.items li:hover {
	background: #41a62a;
}

.page h2 {
  border: none;
  padding: 0;
  font-size: 13px;
}

#content a {
  font-weight: bold;
}

#contact-wrapper {
	width: 430px;
}

#contact-wrapper div {
	clear: both;
	margin: 1em 0;
}

#contact-wrapper label {
	display: block;
	float: none;
	width: auto;
}

form#contactform input {
	border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	color: #333;
}

form#contactform textarea {
	font-size: 100%;
	padding: 0.6em 0.5em 0.7em;
	border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style: solid;
	border-width: 1px;
}

.radio_list {
	padding: 0;
	margin: 0 0 10px 0;
}

.radio_list li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}

input[type="submit"], .button {
  display: inline-block;
	padding: 5px 8px;
	border: 1px solid #ECECEC;
	border-radius: 3px;
	background-color: #5eb21c;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover, .button:hover {
	background-color: #4d9415;
	color: #ffffff;
	text-decoration: none;
}

input.submit_alt, .button_alt {
	background-color: #386fc2;
}

input.submit_alt:hover, .button_alt:hover {
	background-color: #2358a6;
}

.button_del {
	background-color: red;
}

.button_del:hover {
	background-color: darkRed;
}
